<!DOCTYPE html>
<html>
<head>
  <title>Rails - AngularJS - Amazon S3 Signature V4 Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="uploadApp" class="container">

<%= yield %>

</body>
</html>
